{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wardrobe Wise</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script>
        var static_url = "{% get_static_prefix %}";
        var media_url = "{% get_media_prefix %}";
        var get_message_url = "{% url 'main:message' %}";
    </script>
  

</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            <!-- f Section -->
            <a class="navbar-brand d-flex align-items-center" href="../">
                <img src="{% static 'wardrobewise_logo.png' %}" class="logo" alt="Wardrobe Wise Logo">
            </a>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ml-auto d-flex align-items-center">
                <div class ="dropbtn">
                    <a href="{% url 'main:upload' %}" class="nav-link text-white mr-3">
                        <i class="fas fa-upload"></i> Upload Post
                    </a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="dropdown" id="notification">
                    <div class ="dropbtn">
                    <a class="nav-link text-white mr-3">
                        <i class="fas fa-bell"><div class="notification" id="notifCount">{{notification_count}}</div> </i> Notification 
                    </a>
                    </div>
                    <div class ="dropdown-content">
                        {% for notif in notification %}
                        <a href="{{notif.link}}">{{notif.content}}</a>    
                        {% endfor %}
                    </div>
                    </div>
                    
                    {% else %}
                    <div class ="dropbtn">
                        <a  href="{% url 'main:signin' %}" class="nav-link text-white mr-3">
                            <i class="fas fa-bell"></i>Notification
                        </a>
                    </div>
                    {% endif %} 
                    <div class ="dropbtn">         
                        {% if user.is_authenticated %}
                            <a  href="{% url 'main:message' %}" class="nav-link text-white mr-3">
                                <i class="fas fa-envelope"></i>Inbox
                            </a>
                    {% else %}
                    <a  href="{% url 'main:signin' %}"class="nav-link text-white mr-3">
                        <i class="fas fa-envelope"></i>Inbox
                    </a>
                    {% endif %} 
                    </div>
                </div>
                <form method="GET" action={%url "main:search" %}
                <div class="input-group mr-3">
                    <input type="text" class="form-control" name="query" placeholder="Search" required>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                </form>
            
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user_profile and user_profile.profileimg %}
                                <img src="{{ user_profile.profileimg.url }}" class="rounded-circle nav-user-icon" alt="User Profile Icon" width="40px" height="40px">
                            {% else %}
                                <img src="/media/userimg/guestprofilepic.png" class="rounded-circle nav-user-icon" alt="Default Profile Icon" width="40px" height="40px">
                            {% endif %}
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:settings' %}">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
                        </ul>
                    </div>
    </nav>

    <!-- Main Content -->
       
    <div class="container">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button onclick="location.href='favorite'" class="btn btn-link p-0 text-primary">
                            <i class="fas fa-user-friends"></i> Favorited Products
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="location.href='friend'" class="btn btn-link p-0 text-primary">
                            <i class="fas fa-user-friends"></i> Friends
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="location.href='marketplace'" class="btn btn-link p-0 text-primary">
                            <i class="fas fa-store"></i> Marketplace
                        </button>
                    </li>
                </ul>
                <h5 class="mt-4">Your Shortcuts</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-code"></i> Outfit Oriented Programmers</li>
                    <li class="list-group-item"><i class="fas fa-laptop-code"></i> Development</li>
                </ul>
            </div>
    
            <!-- Favorite Section -->
            <div class="col-lg-6">
            {% for p in  favoriteList %}
               <div class="col-md-3">
               <div class="card">
                    <div id="product" class="card-body">
                    <a href="{{p.productid.link}}">
                        <h5>{{ p.productid.productname }}</h5>  </a>
                        <img src="{{ p.productid.image }}" width="200" height="300">
                  
                        <h6>{{ p.productid.price }}$</h6>
                        <div id="rating{{ p.productid.productid }}" data-rating="{{ p.productid.rating }}"></div>
                        <button id="favoriteBtn{{ p.productid.productid }}" onclick="onFavorite('{{ p.productid.productid }}', '{{ request.user.id }}')" style="background-color: #71b2e2;border: #71b2e2; padding: 10px 20px;">Favorite</button>
                        <script type="text/javascript">
                            printProductRating("{{ p.productid.productid }}");
                        </script>
                    </div>
                </div>
                </div>

 
            {% endfor %}
            <script type="text/javascript">
                updateStage("{{ user.id }}");
            </script>
          </div>
            
            <!-- Right Sidebar -->
    


    </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if favoriteList.has_previous %}
            <a href="?page=1&search={{ request.GET.search }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&type={{ request.GET.type }}&size={{ request.GET.size }}&color={{ request.GET.color }}&tag={{ request.GET.tag }}">« first</a>
            <a href="?page={{ favoriteList.previous_page_number }}&search={{ request.GET.search }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&type={{ request.GET.type }}&size={{ request.GET.size }}&color={{ request.GET.color }}&tag={{ request.GET.tag }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ favoriteList.number }} of {{ favoriteList.paginator.num_pages }}.
            </span>

            {% if favoriteList.has_next %}
            <a href="?page={{ favoriteList.next_page_number }}&search={{ request.GET.search }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&type={{ request.GET.type }}&size={{ request.GET.size }}&color={{ request.GET.color }}&tag={{ request.GET.tag }}">next</a>
            <a href="?page={{ favoriteList.paginator.num_pages }}&search={{ request.GET.search }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&type={{ request.GET.type }}&size={{ request.GET.size }}&color={{ request.GET.color }}&tag={{ request.GET.tag }}">last »</a>
            {% endif %}
        </span>
    </div>
    <!-- Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
