{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <script
      src="https://kit.fontawesome.com/ed4bea9392.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
  </head>
  <body>
    <div class="hero">
      <h1>Sign In</h1>

      <div class="signup-box">
        <div class="left-box">
          <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="form-group">
              <input
                type="text"
                class="input-box"
                placeholder="Username"
                name="username"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="input-box"
                placeholder="Password"
                name="password"
                required
                autocomplete="off"
              />
            </div>

            <button type="submit">SIGN IN <span>&#x27f6;</span></button>
          </form>
          <p class="login-msg">
            Don't have an account? <a href="/signup">Create one now</a>
          </p>
          <p class="login-msg">
            <a href="/">Continue as a Guest</a>
          </p>
        </div>

        <div class="right-box">
          <img
            src="{% static 'wardrobewise_logo.png' %}"
            class="logo"
            alt="Wardrobe Wise Logo"
          />
        </div>
      </div>
    </div>
  </body>
</html>
