{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wardrobe Wise</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script>
        var static_url = "{% get_static_prefix %}";
        var media_url = "{% get_media_prefix %}";
        var get_message_url = "{% url 'main:message' %}";
    </script>
  

</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            <!-- f Section -->
            <a class="navbar-brand d-flex align-items-center" href="../">
                <img src="{% static 'wardrobewise_logo.png' %}" class="logo" alt="Wardrobe Wise Logo">
            </a>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ml-auto d-flex align-items-center">
                <div class ="dropbtn">
                    <a href="{% url 'main:upload' %}" class="nav-link text-white mr-3">
                        <i class="fas fa-upload"></i> Upload Post
                    </a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="dropdown" id="notification">
                    <div class ="dropbtn">
                    <a class="nav-link text-white mr-3">
                        <i class="fas fa-bell"><div class="notification" id="notifCount">{{notification_count}}</div> </i> Notification 
                    </a>
                    </div>
                    <div class ="dropdown-content">
                        {% for notif in notification %}
                        <a href="{{notif.link}}">{{notif.content}}</a>    
                        {% endfor %}
                    </div>
                    </div>
                    
                    {% else %}
                    <div class ="dropbtn">
                        <a  href="{% url 'main:signin' %}" class="nav-link text-white mr-3">
                            <i class="fas fa-bell"></i>Notification
                        </a>
                    </div>
                    {% endif %} 
                    <div class ="dropbtn">         
                        {% if user.is_authenticated %}
                            <a  href="{% url 'main:message' %}" class="nav-link text-white mr-3">
                                <i class="fas fa-envelope"></i>Inbox
                            </a>
                    {% else %}
                    <a  href="{% url 'main:signin' %}"class="nav-link text-white mr-3">
                        <i class="fas fa-envelope"></i>Inbox
                    </a>
                    {% endif %} 
                    </div>
                </div>
                <form method="GET" action={%url "main:search" %}
                <div class="input-group mr-3">
                    <input type="text" class="form-control" name="query" placeholder="Search" required>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                </form>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user_profile and user_profile.profileimg %}
                                <img src="{{ user_profile.profileimg.url }}" class="rounded-circle nav-user-icon" alt="User Profile Icon" width="40px" height="40px">
                            {% else %}
                                <img src="/media/userimg/guestprofilepic.png" class="rounded-circle nav-user-icon" alt="Default Profile Icon" width="40px" height="40px">
                            {% endif %}
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:settings' %}">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
                        </ul>
                    </div>
    </nav>

    <!-- Main Content -->
       
    <div class="container">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ><i class="fas fa-newspaper"></i> Latest News</li>
                    <li class="list-group-item">
                        <button onclick="location.href='friend'" class="btn btn-link p-0 text-primary">
                            <i class="fas fa-user-friends"></i> Friends
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button onclick="location.href='marketplace'" class="btn btn-link p-0 text-primary">
                            <i class="fas fa-store"></i> Marketplace
                        </button>
                    </li>
                </ul>
                <h5 class="mt-4">Your Shortcuts</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-code"></i> Outfit Oriented Programmers</li>
                    <li class="list-group-item"><i class="fas fa-laptop-code"></i> Development</li>
                </ul>
            </div>
    
            <!-- Friend Section -->
            <div class="col-lg-6">
                <h5>Friends</h5>
                <ul class="list-group list-group-flush" style="height: 400px ; overflow-x: auto">
                {% for friend in friendList %}
                <li class="list-group-item" >
                <div style="display: inline;">
                {% if user.id == friend.userone.userid %}              
                <img src="{% get_media_prefix %}{{friend.usertwo.profileimg}}" class="rounded-circle nav-user-icon" style="float:left"" >
                <h5 style="float:left; padding-top: 10px; padding-left: 20px"> {{friend.usertwo.username}} </h5>
                <form method="POST" id="create_friend">
                    {% csrf_token %}
                    <input type="hidden" name ="touser" id="touser" value = "{{friend.usertwo.userid}}"">
                    <input type="hidden" name ="fromuser" id="fromuser" value="{{user.id}}">
                <button id="friendBtn" type="submit" style="background-color: #ee361e;border: #ee361e; padding: 10px 20px;float: right;">
                Unfriend
                </button>
                </form>
                <form method="POST" id="create_chat_room">
                    {% csrf_token %}
                    <input type="hidden" name ="touser" id="touser" value = "{{friend.usertwo.userid}}"">
                    <input type="hidden" name ="fromuser" id="fromuser" value="{{user.id}}">
                <button type="submit" style="background-color: #71b2e2;border: #71b2e2; padding: 10px 20px;float: right;" >
                Message
                </button>
                </form>
                <button onclick="window.location.href='profile/{{friend.usertwo.userid}}'" style="background-color: #71e293;border: #71e293; padding: 10px 20px;float: right;">
                    Profile
                </button>
                {% elif user.id == friend.usertwo.userid %}
                <img src="{% get_media_prefix %}{{friend.userone.profileimg}}" class="rounded-circle nav-user-icon" style="float:left"" >
                <h5 style="float:left; padding-top: 10px; padding-left: 20px"> {{friend.userone.username}} </h5>
                <form method="POST" id="create_friend">
                    {% csrf_token %}
                    <input type="hidden" name ="touser" id="touser" value = "{{friend.userone.userid}}"">
                    <input type="hidden" name ="fromuser" id="fromuser" value="{{user.id}}">
                <button id="friendBtn" type="submit" style="background-color: #ee361e;border: #ee361e; padding: 10px 20px;float: right;" >
                Unfriend
                </button>
                </form>
                <form method="POST" id="create_chat_room">
                    {% csrf_token %}
                    <input type="hidden" name ="touser" id="touser" value = "{{friend.userone.userid}}"">
                    <input type="hidden" name ="fromuser" id="fromuser" value="{{user.id}}">
                <button type="submit" style="background-color: #71b2e2;border: #71b2e2; padding: 10px 20px;float: right;" >
                Message
                </button>
                </form>
                <button onclick="window.location.href='profile/{{friend.userone.userid}}'" style="background-color: #71e293;border: #71e293; padding: 10px 20px; float: right;"></button>
                Profile
                </button>
                {% endif %}
               
                </div>
                </li>
                {% endfor %}
                </ul>

                
            </div>
            
            <!-- Right Sidebar -->
    <div class="col-lg-3">
        <h5>Events</h5>
        <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Event Title</span>
                        <a href="#">See All</a>
                    </li>
                </ul>
    </div>


    </div>
    </div>


    <!-- Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
