{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <script
      src="https://kit.fontawesome.com/ed4bea9392.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
  </head>
  <body>
    <div class="hero">
      <h1>Create new account</h1>

      <div class="signup-box">
        <div class="left-box">
          <form action="" method="POST">
            {% csrf_token %} {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="form-group">
              <input
                type="text"
                class="input-box"
                placeholder="First name"
                name="firstname"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="input-box"
                placeholder="Last Name"
                name="lastname"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="input-box"
                placeholder="Username"
                name="username"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                class="input-box"
                placeholder="Your email"
                name="email"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="input-box"
                placeholder="Create Password"
                name="password"
                required
                autocomplete="off"
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="input-box"
                placeholder="Confirm Password"
                name="password2"
                required
                autocomplete="off"
              />
            </div>

            <button type="submit">SIGN UP <span>&#x27f6;</span></button>
          </form>
        </div>

        <div class="right-box">
          <img
            src="{% static 'wardrobewise_logo.png' %}"
            class="logo"
            alt="Wardrobe Wise Logo"
          />
        </div>
      </div>
      <p class="login-msg">
        Already have an account? <a href="/signin">Login Now</a>
      </p>
    </div>
  </body>
</html>
